@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);
/* Defaults */
html, body, #quizzie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #677c8a;
  color: #fff;
}
/*
h1 {
  font-family: 'Satisfy', 'cursive';
  font-size: 2.5em;
}

h2, p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 2em;
}

h1, h2, p {
  text-align: center;
  display: block;
  width: auto;
  margin: 1%;
}
*/
#mainPageBackground {
    clear: both;
    margin-left: 0;
    width: 100%;
    display: block;
    height: 500px!important;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-image: url(../images/craig-strahorn-215112.jpg);
    background-color: #222;
}

#mainHeading{
		margin-left: auto;
    display: block;
    margin-right: auto;
    overflow: auto;
    max-width: 960px;
	    padding: 0 1%;
}

#mainHeading h1{
    font-size: 5.5em;
    font-family: 'Roboto', sans-serif;
    word-spacing: 3px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;
    margin: 0em;
    padding-top: 1em;
}

#SummaryBackground {
	clear: both;
    margin-left: 0;
    width: 100%;
    display: block;
	padding: 2em 0 2em 0;
	background-color: #ffffff;
}
#SummaryContainer  {
	    margin-left: auto;
    display: block;
    margin-right: auto;
    overflow: auto;
	    max-width: 960px;
		color: #343434;
		padding: 0 1%;
}
#SummaryContainer h2 {
	font-weight: 300;
    font-size: 2.5em;
	    color: #069;
}
#SummaryContainer p {
    font-size: 1.2em;
    line-height: 1.3em;
}
#QuizContainer {
	  clear: both;
    margin-left: 0;
    width: 100%;
    display: block;
    padding: 2em 0 2em 0;
    background-color: #222;
	padding: 0 1%;
}
.buttonDivCategory {
    margin-bottom: 2em;
    padding-top: 2em;
}
.buttonDivCategory a {
	color: #FFF;
}
.buttonDivCategory a:hover {
	color: #FFF;
}
.buttonCategory {
    font-size: 1.5em;
    padding: .6em 3em;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    background-color: #2196F3;
}
.buttonCategory:hover {
	background-color: #39a1f4;
}

#quizzie {
      margin-left: auto;
    display: block;
    margin-right: auto;
    overflow: auto;
    max-width: 960px;
    color: #ccc;
    font-weight: 300;
	    text-align: center;
  /* Individual Steps/Sections */
  /* Content */
}
#quizzie h2{
    font-weight: 300;
	    font-size: 2.5em;
}
#quizzie h3{
    font-weight: 300;
	    font-size: 1.6em;
}
#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 2% 2%;
  padding: 2%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}
#quizzie ul.current {
  display: block;
}
#quizzie ul li {
  display: inline-block;
  float: left;
  width: 49%;
  margin-right: 1%;
  overflow: auto;
  text-align: center;
}
#quizzie ul li.quiz-answer {
  cursor: pointer;
}
#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
}
#quizzie ul li.results-inner {
  padding: 5% 2%;
}
#quizzie ul li.results-inner img {
  width: 250px;
}
#quizzie ul li:last-child {
  margin-right: 0;
}
#quizzie .question-wrap, #quizzie .answer-wrap {
  display: block;
  padding: 1%;
  margin: 1em 10%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quizzie .answer-wrap {
  background: Turquoise;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover {
  background: DarkTurquoise;
}
